@keyframes sexyGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes sexyGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #141e30);
    background-size: 400% 400%;
    animation: sexyGradient 10s ease-in-out infinite;
    height: 100vh;
    margin: 0;
}


@keyframes textColorFade {
    20% {
        color: rgb(2, 124, 247);
    }

    25% {
        color: rgb(0, 59, 197);
    }

    50% {
        color: rgb(47, 146, 245);
    }

    50% {
        color: rgb(2, 57, 112);
    }

    75% {
        color: rgb(43, 146, 248);
    }

    100% {
        color: rgb(47, 146, 245);
    }
}

#huvetext {
    animation: textColorFade 5s infinite ease-in-out;
    text-align: center;
    font-size: 500%;
}

#par {
    text-align: center;
    color: white;
}

#footer {
    text-align: center;
    padding: 600px;
    color: violet;
}